* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: rgba(242, 159, 5, 1);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}


