main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: rgba(242, 159, 5, 1);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:active {
    background-color: #F27405;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 40px;
    border-radius: 5px;
    z-index: 9999;
    text-align: center; 
}

.popup h2 {
    margin-top: 0;
}

.popup p {
    margin-bottom: 10px;
}

.close-button {
    margin-top: 20px; 
    padding: 10px 20px;
    background-color: rgba(242, 159, 5, 1);
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.close-button:hover {
    background-color: #F27405;
}

.popup button {
    background-color: rgba(242, 159, 5, 1);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.popup button:hover {
    background-color: #F27405;
    color: black;
}
