* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.product-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.product-image-container {
  margin-right: 20px;
  position: relative;
}

.product-image {
  width: 300px;
  height: auto;
  border-radius: 5px;
}

.sale-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff5722;
  color: black;
  padding: 7px;
  border-radius: 5px;
  font-size: 14px;
}

.product-info {
  max-width: 600px;
}

.product-info h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-info p {
  font-size: 16px;
  margin-bottom: 10px;
}

.size-box {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  font-size: 16px;
}

.size-input {
  display: none;
}

.size {
  background-color: rgba(242, 159, 5, 0.4);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.size:hover {
  background-color: #ff5722;
}

.size-input:checked + .size {
  background-color: #ff5722;
  color: black;
}

.buy-button {
  background-color: rgba(242, 159, 5, 0.4);
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #ff5722;
}
